<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}{% endblock title %}</title>
	{% load staticfiles %}
	<!-- Imports -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

	{% block extracss %}{% endblock %}
</head>
<body>
	<ul class="nav nav-pills">
	  <li role="presentation"><a href="{% url 'index' %}">Home</a></li>
	  <li role="presentation"><a href="{% url 'about' %}">About</a></li>
	  <li role="presentation"><a href="{% url 'cities' %}">Cities</a></li>
	</ul>
	<style>
		.nav {
			padding-left: 100px;
			padding-bottom: 40px;
		}
	</style>
{% block content %}
{% endblock %}
</body>
</html>